<% if !@name1 || !@name2 %>
<form action="/welcome" method="post">
  <input type="text" name="player1">
  <input type="text" name="player2">
  <input type="submit" value="To Battle!">
</form>
<% end %>

